html{
    height: 100%;
}
body{
    height: 100%;
    margin: 10px;
}
.a {
    background-color: aqua;
   
}

.b {
    background-color: blueviolet;
   
}

.c {
    background-color: chartreuse;
    
}

.d {
    background-color: deeppink;
    
}